input, select{
    border-color: #CDCDCD;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    height: 25px;
}

:checked{
    transition-duration: 700ms;  
    width: 15px;
    height: 15px;
}

.titulo2{
    padding-bottom: 10px;

}

.linhaAdicionarItens{
    justify-content: center;
    align-items: center;
}

.grupoInput span{
    font-size: 16px;
}
#idDepartamento{
    width: 80px;
}
#departamento{
    width: 300px;
}
#dataRequisicao{
    width: 120px;
}
#idFuncionario{
    width: 80px;
}
#NomeFuncionario{
    width: 300px;
}
#cargo{
    width: 120px;
}
#categoriaMotivo{
    width: 120px;
}
#Motivo{
    width: 120px;
}

.camposItens span{
    font-size: 16px;
}
.grupoProduto{
    width: 90px;
    margin-right: 5px;
}
.grupoProduto input{
    width: 90px;
}

.grupoProdutoDescricao{
    width: 300px;
    margin-right: 5px;
}
.grupoProdutoDescricao input{
    width: 300px;
}
.grupoEstoque{
    width: 60px;
    margin-right: 5px; 
}
.grupoEstoque input{
    width: 60px;
}
.grupoQuantidade{
    width: 80px;
}
.grupoQuantidade input{
    width: 80px;
}

.imgEstoque:hover {
    cursor: pointer;
}

.img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.nivelEstoque {
    display: flex;
    position: absolute;
    top: 27.5rem;
    left: 70.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 5rem;
    width: 17rem;
    border: none;
    background-color: rgb(255, 255, 214);
    opacity: 0;
    transition-duration: 700ms;
}

.linhaEstoque {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-top: 7px;
}


.BtnInserirItens{
    background-color:#295780 ;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;
    cursor: pointer;
    margin-left: 10px;
}

.BtnInserirItens span{
    color: #ffffff;
    font-size: 14px;
}

#total{
    width: 120px;
    background-color: #CDCDCD;
    margin-left: 5px;
}
input{
    outline-color: #0095C5;
}
#total:focus{
    outline-color: #CDCDCD;
}

/* input[type='radio']{
    appearance: none;
    width: 20px;
    height: 20px;     
    border: 1px solid;    
     
    
} */

.chkPrioridade{
    appearance: none;
    width: 20px;
    height: 20px;     
    border: 1px solid #000000;  
    border-radius: 50%;
    
}

.chkPrioridadeDesabilitado{
    appearance: none;
    width: 20px;
    height: 20px;     
    border: 1px solid #ffffff;  
    border-radius: 50%;
}
.grupoPrioridade{
    display: flex;
    padding-left: 2px;
    
}

#urgente:checked{
    border: 1px solid red;      
    background-color: red;
    transform: scale(1.2);
}
#medio:checked{
    border: 1px solid yellow;      
    background-color: yellow;
    transform: scale(1.2);    
}
#baixo:checked{
    border: 1px solid green;      
    background-color: green;
    transform: scale(1.2);
}

.BtnGravar{
    background-color:#0a0b0b ;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;
    cursor: pointer;

}

.BtnGravar span{
    color: #ffffff;
    font-size: 14px;
}